 body{
            background-color: #000000;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            height: 2000px;
            font-family: 'VT323', monospace;
            overflow-x: hidden;
            width: 100%;
        }

        .nav-item a{
            list-style: none; 
            text-decoration: none;
            color: rgb(187, 186, 186);
            font-size: 20px;
        }

        *, *:before, *:after {
			box-sizing: border-box;
		}
	
	

		.stacked-cards h2 {
			text-align: center;
			position: relative;
			top: -20px;
		}

		.intro {
			max-width: 600px;
			margin: 20px auto;
			text-align: center;
		}

		.container-fuild {
			max-width: 80%;
			margin: 0 auto;
		}

		.container-fixed {
			max-width: 1200px;
			margin: 0 auto;
		}


		.stacked-cards {
			padding-top: 40px;
			padding-bottom: 15px;
		}

		.stacked-cards-fanOut {
			padding-bottom: 40px;
		}

		.stacked-cards-fanOut li img {
			max-height: 200px;
		}

		.stacked-cards li {
			height: 400px;
		}

		@media only screen and (max-width: 600px) {
            .stacked-cards li {
                height: 200px;
                width: 80%;
            }
        }

		.stacked-cards li {
			background-color: #00bcd4;
		}

		.stacked-cards li:nth-child(n) {
			background-color: #3599db;
		}

		.stacked-cards li:nth-child(2n) {
			background-color: #e61b77;
		}

		.stacked-cards li:nth-child(3n) {
			background-color: #00bcd4;
		}

		.stacked-cards li:nth-child(4n) {
			background-color: #f4b251;
		}

		.stacked-cards li:nth-child(5n) {
			background-color: #8e4497;
		}

		.source {
			margin: 25px auto;
		}

		.header {
			margin: 0px auto;
			padding: 25px 5px;
			background-color: #fff;
		}
		.header img {
			display: block;
			margin: 0 auto;
			max-width: 300px;
			height: auto;
		}

        video{
            width: 100%;
            height: 100%;
        }

.skill-set__list {
    width: 100%;
}
ol, ul {
    list-style: none;
}

.skill-set__item {
/*     margin-top: 6.4rem; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.skill-set__icon {
    width: 10.6382%;
    -ms-flex-item-align: center;
    align-self: center;
}
.skill-set__icon img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.skill-set__detail {
    width: 85.1063%;
}
.skill-set__meta {
    margin-bottom: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.skill-set__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.small-title {
    font-size: 1.4rem;
    color: #072142;
    letter-spacing: 0.2em;
    line-height: 1.2;
    font-family: "futura_de";
}
.skill-set__year {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #c0c5ca;
    margin-left: 0.8rem;
    letter-spacing: 0.2em;
}
.skill-set__high {
    color: #ff4d5a;
}
.small-title {
    font-size: 1.4rem;
    color: #072142;
    letter-spacing: 0.2em;
    line-height: 1.2;
    font-family: "futura_de";
}
skill-set__ratio {
    font-size: 1.6rem;
    line-height: 1.2;
    color: #072142;
}
.skill-set__bar {
    width: 100%;
    height: 1.4rem;
    background: #fff;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
    box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.skill-set__bar:after {
    -webkit-animation: ratio90 1.5s forwards;
    animation: ratio90 1.5s forwards;
}
.skill-set__bar:after {
    background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
    background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

.skill-set__bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    width: 80%;
}


       
